* {
  margin: 0px; /*CAMBIO */
  padding: 0;
  box-sizing: sans-serif;
}

body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: rgb(9, 74, 136);
}
.card {
  position: relative;
  width: 300px;
  height: 350px;
  margin: 68px; /*Para dar margen de imagen a imagen*/
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 2s; /*Numero de demora de transicion */
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000; /*para mover el cuadro */
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgba(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}
/* */
.card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}
.card .back .link a {
  color: #f3f3f3;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card.back p {
  letter-spacing: 1px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}
.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}
/**/

/* Estilo para el título */
h1 {
  color: aqua;
  text-align: center; /* Centra el texto horizontalmente */
  position: absolute; /* Coloca el título en posición absoluta */
  top: 20px; /* Ajusta la posición vertical según tus necesidades */
  width: 100%; /* Haz que el título ocupe el 100% del ancho del contenedor */
  transition: color 0s;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h1:hover {
  color: yellow; /* Cambia el color a amarillo al pasar el mouse sobre el título */
}
#videoFondo {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
/*Boton */
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden; /*Oculta los elementos que estan fuera del contenedor*/
  transition: 0.2s;
}
.btn-neon:hover {
  background: #e83e06;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 1s;
}
.btn-neon span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #45c777);
}
.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
/*SPAN */
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #45c777);
}
.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
/* */
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #45c777);
}
.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
/*SPAN 2 */
#span2 {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #45c777);
}
.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
/*Span4 */
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #45c777);
}
.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}
