* {
  margin: 0; /*Establece el margen exterior en 0*/
  padding: 0; /*Define el relleno en 0 para el elemento */
  box-sizing: border-box; /* simplifica la forma en que se controlan los tamaños 
  de los elementos en CSS.*/
}
body {
  min-height: 100vh; /*Establece la altura mínima del elemento al 100% */
  background: #0e0e0e; /*Define el color de la imagen*/
  width: 100%; /*Ancho*/
  height: 100%; /*Alto*/
}
nav {
  background-color: #dee57c; /*color de fondo*/
  display: flex; /*contenedor flexible*/
  align-items: center; /*esta centrando el elemento*/
  justify-content: space-between; /*para distribuir el espacio entre los elementos segundarios*/
  padding: 10px; /*relleno de 10px a todos los lados del elemento*/
  padding-left: 0%; /*Establece relleno isquierdo*/
  padding-right: 10%; /* Establece relleno derecho*/
  font-weight: bold; /*Texto en negrita*/
  font-size: 16px; /*Tamaño de letra*/
}
h1 {
  color: rgb(38, 41, 208); /*color de h1*/
  font-size: 45px; /*Tamaño de Letra*/
  font-family: Verdana, Geneva, Tahoma, sans-serif; /*Tipó de letra*/
}
ul li {
  display: inline-block; /*para que este en una misma linea  que otros elementos*/
  padding: 0px 14px; /*Para darle Margen al menu de navegacion */
}
a {
  color: rgb(255, 1, 1); /*color*/
  text-decoration: none; /*Elimina la decoracion de subrayado de los enlaces hipertexto*/
}
a:hover {
  /*pseucodo para aplicar estilos cuando cursos pasa sobre el*/
  color: aqua; /*Color */
}
.HotSneaker {
  margin-right: 350px; /*controla el espacio o margen de lado */
}

/*Carrusel*/
h2 {
  text-align: center; /*centrar el texto*/
  font-size: 2rem; /*tamaño de letra*/
  padding-top: 50px; /*para controlar la distancia entre el elemento y su borde superior*/
}

.slider-frame {
  width: 101.1%; /*Ancho */
  margin: -0.5%; /*Margen */
  padding: 0%; /*para ajusta espacio entre el contenido*/
  overflow: hidden; /*para ocultar contenido que se extiende mas alla de los limites*/
  margin-top: 0px; /*ajustar la distancia entre elemntos*/
}

.slider-frame ul {
  display: flex; /*contenedor flexible*/
  padding: 0%; /*para ajustar */
  width: 400%; /*Ancho*/

  animation: slide 20s infinite alternate ease-in-out; /*la animacion se repetira infinitamente 
  hacia adelante y hacia atras ease para suavisar el inicio y el fin*/
}
.slider-frame li {
  width: 100%; /*Ancho*/
  list-style: none; /*para eliminar los marcadores o viñetas como listas desordenadas ul o ol*/
}

.slider-frame img {
  width: 100%; /*Ancho*/
}

@keyframes slide {
  0% {
    margin-left: 0; /* Inicio de la animación, el margen izquierdo es 0*/
  }
  20% {
    margin-left: 0; /*Se mantiene izquierda en 0*/
  }

  25% {
    margin-left: -100%; /*comiensa hacia la izquierda -100 margen*/
  }
  45% {
    margin-left: -100%; /*continua el deslisamiento*/
  }

  50% {
    margin-left: -200%; /*deslisamiento*/
  }
  70% {
    margin-left: -200%; /*se mantiene el margen*/
  }

  75% {
    margin-left: -300%; /*comiensa de nuevo*/
  }
  100% {
    margin-left: -300%; /*Fin de animacion*/
  }
}
/*Fondo de pantalla*/
.container {
  position: relative; /**/
  height: 100vh; /*Alto*/
  overflow: hidden; /*para ocultar contenido que se extiende mas alla de los limites*/
  max-width: 100%; /**/
}
.burbujas {
  position: relative; /**/
  display: flex; /**/
}
.burbujas span {
  position: relative; /*Se pocisiona en su pocision original*/
  width: 30px; /*Ancho*/
  height: 30px; /*Alto*/
  background-color: #4fc3dc; /*color de Fondo*/
  border-radius: 50px; /*para redondear las esquinas*/
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px#4fc3dc; /*para agregar sombras  */
  animation: animate 15s linear infinite; /*animacion de 15 segundos que se reproduce en velocidad
   constante que se reinicira una ves termine automaticamente*/
  animation-duration: calc(
    125s / var(--i)
  ); /*calcula la duracion dividiendo 125 segundos entre la variable i*/
}
.burbujas span:nth-child(even) {
  /*pseudo que selecciona hijos pares del span */
  background: #ff2d75; /*Color*/
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75; /*SOMBRAS*/
}
@keyframes animate {
  0% {
    /*La animacion comiensa en 0 el elemento se encuentra fuera de vista
     desplazado hacia abajo en la dirrecion Y vertical por una distacia de  100vh con escala 0*/
    transform: translateY(100vh) scale(0); /**/
  }
  100% {
    transform: scale(1vh) scale(1); /*cuando la animacion alcansa el 100% vuelve denuevo a su posicion*/
  }
}
/*Debajo del carrusel */
.Img {
  width: 200px; /*Ancho*/
  height: 100px; /*Alto*/
  border-radius: 200%; /*Para darle borde al circulo */
  object-fit: cover; /*Ajusta la imagen para que cubra completamente su contenedor*/
  background-color: #dee57c; /*Para darle color al ciculo */
  /* */
  position: relative; /*establece el pocisionamiento relativo del elemento*/
  left: 200px; /*Izquierda*/
  filter: saturate(2); /*Es para saturar */
}
.Contenido {
  display: flex; /*Contenedor flexible*/
  margin: 0px; /*Establece margen de elemento*/
  background-image: url(Imagenes/Fondo-zapato.jpg);
}
.articulos {
  width: 80%; /*Ancho*/
  border-right: 3px; /*añade borde al lado derecho*/
}
.secciones {
  display: flex; /*Contenedor flexible*/
  align-items: center; /*Centra el elemento*/
  padding: 50px; /*Relleno de un elemento*/
  background-image: url(Imagenes/Fondo-zapato.jpg);
}
#acerca-de-nosotros {
  color: #131313; /*Color*/
  padding: 10px; /*Borde */
  font-size: x-large; /*Letra*/
  position: relative; /*Ajustar su pocision en relacion con su ubicacion original*/
  left: 150px; /*Izquierda*/
  margin-top: -8px; /*Define el Margen superior del Elemento*/
}
/*Video */
.video-container {
  display: flex; /*Contenedor flexible*/
  align-items: center; /*Centra elemento*/
  justify-content: center; /*alinear horizontalmente en el centro del contenedor*/
}

.video {
  width: 100%; /* El video ocupará el 70% del espacio disponible en el contenedor */
  max-height: 565px; /* Establece una altura máxima para el video  500px computadora  Laptop 565px */
}
.Img1 {
  width: 19.1%; /* Las imágenes ocuparán el 15% del espacio disponible en el contenedor */
  height: 20%; /* Establece una altura máxima para las imágenes */
  object-fit: fill; /*el contenido se estira o encoge para llenar completamente el contenedor*/
}
.Img2 {
  width: 19.1%; /* Las imágenes ocuparán el 15% del espacio disponible en el contenedor */
  max-height: 20%; /* Establece una altura máxima para las imágenes */
  object-fit: cover; /*Se ajusta el contenido para llenar el contenedor sin afectar su aspecto original*/
}
/*Animacion*/
.scene {
  position: relative; /*permite ajustar su pocision con su  ubicacion original */
  width: 400px; /*Ancho*/
  height: 0px; /*Alto*/
}

.person {
  width: 20px; /* Achicar el tamaño de la persona */
  height: 50px; /*Alto*/
  background-color: transparent; /*Transparente*/
  position: absolute; /*Para controlar la pocision exacta de un elemento de una pagina web*/
  bottom: 0; /*se utilisa para pocisionar un elemento en la parte inferior*/
  left: 1px; /*Para  que la persona se acerque al zapato */
  animation: chase-person 20s linear infinite; /*animacion durara 20 segundos y se repitira infinitamente*/
  top: -550px; /*Para subir la imagen o bajarla */
}

.shoe {
  width: 0px; /* Achicar el tamaño del zapato */
  height: 0px; /*Alto*/
  background-color: transparent; /*Transparente*/
  position: absolute; /*Establece el pocisionamiento de un elemento*/
  bottom: 0; /*para pocisionar un elemento*/
  right: 80px; /* Derecha Para que el zapato se acerca a la persona */
  animation: chase-shoe 20s linear infinite; /*animacion durara 20 segundos y se repitira infinitamente*/
  /* */
  top: -450px; /*establece pocision del elemento Para subir la imagen o bajarla */
}

@keyframes chase-person {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      500px
    ); /* La persona llega al zapato en 20 segundos */
  }
}

@keyframes chase-shoe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(500px); /* El zapato se aleja en 20 segundos */
  }
}
/* boton*/
.btn-neon {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden; /*Oculta los elementos que estan fuera del contenedor*/
  transition: 0.2s;
}
.btn-neon:hover {
  background: #a945c7;
  box-shadow: 0 0 10px #a945c7, 0 0 40px #a945c7, 0 0 80px #a945c7;
  transition-delay: 1s;
}
.btn-neon span {
  position: absolute;
  display: block;
}
#span1 {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #a945c7);
}
.btn-neon:hover #span1 {
  left: 100%;
  transition: 1s;
}
/*SPAN */
#span3 {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #a945c7);
}
.btn-neon:hover #span3 {
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}
/*SPAN 2 */
#span2 {
  top: -100%;
  right: 0%;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #a945c7);
}
.btn-neon:hover #span2 {
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}
/*Span4 */
#span4 {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #a945c7);
}
.btn-neon:hover #span4 {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}

/*Footer */
footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 2rem 8%;
  background-color: #0e0e0e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.Logo {
  height: 80px;
  margin-bottom: 1rem;
}
.Redes-sociales,
.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
.Redes-icon {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: 1px solid #f2f2f2;
  background-image: url(Imagenes/Fondo-zapato.jpg);
  background-position: center;
  background-size: 40%;
  background: no-repeat;
  margin: 1rem;
}
.Redes-icon:hover {
  background-color: #121212;
  filter: invert(1);
}
.Redes-icon:nth-of-type(1) {
  background-image: url(Imagenes/FacebookBlanco.png);
}
.Redes-icon:nth-of-type(2) {
  background-image: url(Imagenes/InstagramBlanco.png);
}

.Redes-icon:nth-of-type(3) {
  background-image: url(Imagenes/LinkedinBlanco.png);
}
.Redes-icon:nth-of-type(4) {
  background-image: url(Imagenes/Twitter.png);
}
.Menu {
  list-style-type: none;
  color: #f2f2f2;
  font-size: 18px;
}
.Menu1 {
  margin: 1rem 1.5rem;
  cursor: pointer;
  opacity: 0.6;
}
.Menu1:hover {
  opacity: 1;
}
.copiryght {
  color: #f2f2f2;
  opacity: 0, 3;
  text-align: center;
}
/*ESTILO TABLAS BACKEND LINEA 392 */
/*DE linea 393 a 402 son los container*/
.container1 {
  background-color: #dee57c;
  padding: 20px;
}
.container2,
.container3,
.container4 {
  background-color: #dee57c;
  text-align: center;
}
th {
  padding-right: 154px;
  background-color: #4fc3dc;
  font-size: 23px;
  border: solid 2px;
}

h4 {
  font-size: 35px;
  color: rgba(9, 24, 229, 0.941);
}

form {
  margin: 0px 1030px 0px 5px;
  padding: 15px 0px 10px 15px;
  border-radius: 5%;
}

/*Ingrese el nombre del cliente*/
label {
  font-size: 22px;
  text-align: center;
}

/*Espacios en blanco input*/
input {
  font-size: 22px;
  border-radius: 4px;
  color: blue;
  background-color: rgb(159, 249, 243);
}
button {
  font-size: 20px;
  cursor: pointer;
  padding-bottom: 10px;
  border-radius: 8px;
  padding: 5px 5px 5px 5px;
  margin: 15px 0px 15px 0px;
  color: #064553;
  background-color: rgb(255, 98, 0);
  transition: 1s;
}

button:hover {
  color: #ff0800;
  background-color: #59c0d7;
}

/*Contenido que aparece cuando apretas button*/
td {
  font-size: 20px;
  border: solid 2px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/*Backend pedidos*/
/*Titulo pedidos*/
.Pedidos {
  background-color: #d8302b;
  text-align: center;
  color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 50px;
}
.n10,
.n11,
.n12,
.n13,
.n14,
.n15,
.n16,
.n17,
.n18,
.n19,
.n20,
.n21 {
  padding-right: 34px;
  font-size: 17px;
}
.th1,
.th2,
.th3,
.th4,
.th5 {
  font-size: 23px;
  padding-right: 207px;
}
td:nth-child(1) {
  /* Estilos para la segunda columna */
  background-color: #ffd700;
  color: #0b3c5d;
  /* Agrega otros estilos que desees para estas celdas */
}

td:nth-child(2) {
  /* Estilos para la segunda columna */
  background-color: #2ecc71;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(3) {
  /* Estilos para la segunda columna */
  background-color: #FFA500;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(4) {
  /* Estilos para la segunda columna */
  background-color: #f7e2e2;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(5) {
  /* Estilos para la segunda columna */
  background-color: #87CEEB;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(6) {
  /* Estilos para la segunda columna */
  background-color: #ffd700;
  color: #0b3c5d;
  /* Agrega otros estilos que desees para estas celdas */
}

td:nth-child(7) {
  /* Estilos para la segunda columna */
  background-color: #2ecc71;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(8) {
  /* Estilos para la segunda columna */
  background-color: #FFA500;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(9) {
  /* Estilos para la segunda columna */
  background-color: #f7e2e2;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(10) {
  /* Estilos para la segunda columna */
  background-color: #87CEEB;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(11) {
  /* Estilos para la segunda columna */
  background-color: #b34343;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}
td:nth-child(12) {
  /* Estilos para la segunda columna */
  background-color: #b0ceda;
  color: #333;
  /* Agrega otros estilos que desees para estas celdas */
}

